.App {
  text-align: center;
}

html {
  background-color: #f5f6f8;
}

.header {
  height: 160px;
  background-color: rgba(0, 47, 255, 0.781);
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 150px;
  align-items: center;
}

.icon {
  color: white;
  font-size: 25px;
}

.text {
  color: white;
  font-size: 35px;
  font-weight: 700;
}
.loc {
  color: #5964e0;
  margin-top: 50px;
}
p {
  color: #6e8098;
}

.body {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.333%;
  margin: 50px;
  text-align: left;
  width: 1350px;
  margin-left: 300px;
}

.box1 {
  width: 350px;
  height: 250px;
  margin: 25px;
  background-color: #ffffff;
  padding: 8px;
  padding-left: 25px;
}

button {
  color: white;
  border-radius: 2px;
  border: none;
  padding: 10px;
  background-color: #5964e0;
  margin: 40px;
}

.iconedit {
  position: relative;
  top: -30px;
}

img {
  position: relative;
  top: -10px;
  margin: auto;
  height: 20px;
  width: 20px;
  padding: 10px;
  align-self: center;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
